src/test/resources/tests/parser/basex-7.8/*.txt text eol=lf
src/test/resources/tests/parser/basex-7.8/*.xq text eol=lf
src/test/resources/tests/parser/basex-8.5/*.txt text eol=lf
src/test/resources/tests/parser/basex-8.5/*.xq text eol=lf
src/test/resources/tests/parser/marklogic-6.0/*.txt text eol=lf
src/test/resources/tests/parser/marklogic-6.0/*.xq text eol=lf
src/test/resources/tests/parser/marklogic-8.0/*.txt text eol=lf
src/test/resources/tests/parser/marklogic-8.0/*.xq text eol=lf
src/test/resources/tests/parser/saxon-9.4/*.txt text eol=lf
src/test/resources/tests/parser/saxon-9.4/*.xq text eol=lf
src/test/resources/tests/parser/xquery-1.0/*.txt text eol=lf
src/test/resources/tests/parser/xquery-1.0/*.xq text eol=lf
src/test/resources/tests/parser/xquery-3.0/*.txt text eol=lf
src/test/resources/tests/parser/xquery-3.0/*.xq text eol=lf
src/test/resources/tests/parser/xquery-3.1/*.txt text eol=lf
src/test/resources/tests/parser/xquery-3.1/*.xq text eol=lf
src/test/resources/tests/parser/xquery-sx-1.0/*.txt text eol=lf
src/test/resources/tests/parser/xquery-sx-1.0/*.xq text eol=lf
src/test/resources/tests/parser/xquery-update-1.0/*.txt text eol=lf
src/test/resources/tests/parser/xquery-update-1.0/*.xq text eol=lf
src/test/resources/tests/parser/xquery-update-3.0/*.txt text eol=lf
src/test/resources/tests/parser/xquery-update-3.0/*.xq text eol=lf
