src/lang-xpath/main/resources/settings/xpath-color-demo.xq text eof=lf
src/lang-xquery/main/resources/settings/xquery-color-demo.xq text eof=lf

src/lang-xpath/test/resources/tests/parser/xpath-1.0/*.txt text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-1.0/*.xq text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-2.0/*.txt text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-2.0/*.xq text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-3.0/*.txt text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-3.0/*.xq text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-3.1/*.txt text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-3.1/*.xq text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-ng/xpath/proposal-*/*.txt text eol=lf
src/lang-xpath/test/resources/tests/parser/xpath-ng/xpath/proposal-*/*.xq text eol=lf

src/lang-xquery/test/resources/tests/parser/basex-6.1/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-6.1/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-7.8/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-7.8/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-8.4/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-8.4/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-8.5/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/basex-8.5/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/full-text-1.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/full-text-1.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/intellij-plugin/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/intellij-plugin/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-6.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-6.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-7.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-7.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-8.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/marklogic-8.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.4/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.4/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.8/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.8/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.9/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/saxon-9.9/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xpath-ng/proposal-*/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xpath-ng/proposal-*/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-1.0-20030502/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-1.0-20030502/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-1.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-1.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-3.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-3.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-3.1/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-3.1/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-semantics-1.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-semantics-1.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-sx-1.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-sx-1.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-1.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-1.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-3.0/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-3.0/*.xq text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-3.1/*.txt text eol=lf
src/lang-xquery/test/resources/tests/parser/xquery-update-3.1/*.xq text eol=lf

src/test/resources/tests/folding/*.xq text eol=lf
