html {
  font-family: "Gotham SSm B", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

p.github-banner {
  position: absolute;
  right: 0;
  top: 0;
}

main {
  margin: 0 auto;
  padding: 30px;
  max-width: 1200px;
}
main.navlist {
  max-width: 1000px;
}
main.page {
  max-width: 800px;
}
main.error {
  text-align: center;
}

nav.banner {
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #cccbcb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav.banner > div.container {
  margin: 0 auto;
  max-width: 1200px;
}
nav.banner div.left, nav.banner ol, nav.banner div.right {
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  width: 25%;
}
nav.banner div.left a {
  color: black;
}
nav.banner ol {
  list-style: none;
  width: 50%;
  margin: 0;
}
nav.banner ol li {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
}
nav.banner ol li a {
  font-weight: normal;
  color: black;
  text-decoration: none;
}
nav.banner div.right {
  text-align: right;
  padding: 15px 0;
}

p { margin-bottom: 15px; }
p:last-child { margin-bottom: 0; }
li p:last-child { margin-bottom: 15px; }

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 { font-size: 48px; margin: 50px 0 30px 0; text-align: center; }
h2 { font-size: 36px; margin: 30px 0 20px 0; }
h3, h4, h5, h6 { font-size: 18px; margin-bottom: 15px; }

a { text-decoration: none; color: #0366d6; }
a:hover { color: #18a3fa !important; }

section p { font-size: inherit; margin-right: 10px; }

@media screen and (min-width: 940px) {
  section.columns > section { float: left; }
  section.columns-2 > section { width: 50%; }
  section.columns-3 > section { width: 33.3333%; }
  section.columns-2 section.side-by-side { width: 100%; }

  section.side-by-side > * { float: left; width: 50%; }
  section.side-by-side { clear: both; }

  main.navlist > section.side-by-side > aside { float: left; width: calc(50% - 30px); padding-left: 30px; }
}

@media screen and (max-width: 949px) {
  p:last-child { margin-bottom: 15px; }
}

section.columns section { margin-top: 30px; display: block; }
section img { margin-bottom: 20px; }

ul.toc, ul.toc ul {
  list-style: none;
}

table {
  width: 100%;
  margin-bottom: 15px;
}
table th {
  text-align: left;
}
table th, table td {
  vertical-align: top;
}

table.ebnf-symbols > thead {
  display: none;
}

hr {
  border: 0;
  border-bottom: 4px solid #eeeeee;
}

pre.highlight {
  margin: 0 30px 15px 30px;
}

blockquote {
  border-left: 4px solid #eeeeee;
  margin-left: 0;
  padding-left: 15px;
}

.centered {
  text-align: center;
  padding-top: 16px;
}

a.button {
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  display: inline-block;
  background-color: #161616;
  color: white;
  font-weight: 800;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 0 35px;
  margin: 0 15px;
}
a.button.button-hollow {
  background-color: inherit;
  color: inherit;
  text-transform: inherit;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid #18a3fa;
  height: 40px;
  line-height: 40px;
}

.highlight .keyword {
  font-weight: bold;
  color: navy;
}
.highlight .string {
  font-weight: bold;
  color: green;
}
