html {
  font-family: "Gotham SSm B", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

p.github-banner {
  position: absolute;
  right: 0;
  top: 0;
}

main {
  margin: 0 auto;
  padding: 30px;
  max-width: 1200px;
}
main.navlist {
  max-width: 1000px;
}
main.page {
  max-width: 800px;
}
main.error {
  text-align: center;
}

nav.banner {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #cccbcb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav.banner > div.container {
  margin: 0 auto;
  max-width: 1200px;
}
nav.banner div.left, nav.banner ol, nav.banner div.right {
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  width: 25%;
}
nav.banner div.left a {
  color: black;
}
nav.banner ol {
  list-style: none;
  width: 50%;
  margin: 0;
}
nav.banner ol li {
  display: inline-block;
  padding: 0 8px;
  font-size: 16px;
}
nav.banner ol li a {
  font-weight: normal;
  color: black;
  text-decoration: none;
}
nav.banner div.right {
  text-align: right;
  padding: 15px 0;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

p { margin-bottom: 15px; }
p:last-child { margin-bottom: 0; }
li p:last-child { margin-bottom: 15px; }

p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h1 { font-size: 48px; margin: 50px 0 30px 0; text-align: center; clear: both; }
h2 { font-size: 36px; margin: 30px 0 20px 0; clear: both; border-bottom: 2px solid #eeeeee; padding-bottom: 4px; }
h3, h4, h5, h6 { font-size: 18px; margin-bottom: 15px; clear: both; }

a { text-decoration: none; color: #0366d6; }
a:hover { color: #18a3fa !important; }

section p { font-size: inherit; margin-right: 10px; }

@media screen and (min-width: 940px) {
  section.columns > section { float: left; }
  section.columns-2 > section { width: 50%; }
  section.columns-3 > section { width: 33.3333%; }
  section.columns-2 section.side-by-side { width: 100%; }

  section.side-by-side > * { float: left; width: 50%; }
  section.side-by-side { clear: both; }

  main.navlist > section.side-by-side > aside { float: left; width: calc(50% - 30px); padding-left: 30px; }
}

@media screen and (max-width: 949px) {
  p:last-child { margin-bottom: 15px; }
}

section.columns section { margin-top: 30px; display: block; }
section img { margin-bottom: 20px; }

ul.toc, ul.toc ul {
  list-style: none;
  margin: 0;
}
ul.toc {
  padding: 0;
}
ul.toc li {
  margin: 6px 0;
}

@media screen and (max-width: 1510px) {
  ul.toc {
    padding-bottom: 8px;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1510px) {
  #table-of-contents {
    display: none;
  }
  ul.toc {
    position: fixed;
    top: 61px;
    left: 8px;
    width: 330px;
    height: calc(100% - 61px);
    overflow: auto;
  }
  ul.toc ul {
    padding: 0;
  }
}

table {
  width: 100%;
  margin-bottom: 15px;
}
table th {
  text-align: left;
}
table th, table td {
  vertical-align: top;
}

table.ebnf-symbols > thead {
  display: none;
}

hr {
  border: 0;
  border-bottom: 4px solid #eeeeee;
}

pre.highlight {
  margin: 0 30px 15px 30px;
}

blockquote {
  border-left: 4px solid #eeeeee;
  margin-left: 0;
  padding-left: 15px;
}

.centered {
  text-align: center;
  padding-top: 16px;
}

a.button {
  text-decoration: none;
  text-rendering: optimizelegibility;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 0 15px;
}
.banner a.button {
  font-weight: normal;
  font-size: 16px;
  background-color: #167dff;
  padding: 0 25px;
  border-radius: 32px;
  height: 32px;
  line-height: 32px;
}
.main a.button {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  background-color: #161616;
  padding: 0 35px;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
}

a.button:hover {
  color: white !important;
}
.banner a.button:hover {
  background-color: #167dffe0;
}
.main a.button:hover {
  background-color: #161616d0;
}

.highlight .keyword {
  font-weight: bold;
  color: navy;
}
.highlight .string {
  font-weight: bold;
  color: green;
}

div.intellij-version {
  float: right;
  font-size: 0.8em;
}

div.intellij-version ~ h3 {
  clear: none;
}
