name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        idea-version: [
            IC-2020.3,
            IC-2021.1,
            IC-2021.2,
            IC-2021.3,
            IC-2022.1,
            LATEST-EAP-SNAPSHOT
        ]
        include:

          - os: ubuntu-latest
            java-version: 11
            idea-version: IC-2020.3

          - os: ubuntu-latest
            java-version: 11
            idea-version: IC-2021.1

          - os: ubuntu-latest
            java-version: 11
            idea-version: IC-2021.2

          - os: ubuntu-latest
            java-version: 11
            idea-version: IC-2021.3

          - os: ubuntu-latest
            java-version: 11
            idea-version: IC-2022.1

          - os: ubuntu-latest
            java-version: 11
            idea-version: LATEST-EAP-SNAPSHOT

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      IDEA_VERSION: ${{ matrix.idea-version }}
    steps:
      - name: Source Code Checkout
        uses: actions/checkout@v2

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}

      - name: Create a Gradle Wrapper
        # Use a null gradle file so gradle < 4.6 does not fail parsing 'useJUnitPlatform()'.
        run: touch null.gradle ; gradle -b null.gradle wrapper --gradle-version 6.7 ; rm null.gradle

      - name: Cache Gradle Packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ matrix.idea-version }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-${{ matrix.idea-version }}-

      - name: Gradle Version
        run: ./gradlew --version

      - name: Build with Gradle
        run: ./gradlew :assemble

      - name: Run Tests
        run: ./gradlew test

      - name: Cleanup Gradle Cache
        # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
        # Restoring these files from a GitHub Actions cache might cause problems for future builds.
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
