name: build

on:
  push:
    branches:
      - master

env:
  XQT_PLATFORM: 'release'
  GRADLE_VERSION: 8.13

jobs:
  plugin:
    strategy:
      fail-fast: false
      matrix:
        idea-version: [
            IC-2023.1,
            IC-2023.2,
            IC-2023.3,
            IC-2024.1,
            IC-2024.2,
            IC-2024.3,
            IC-2025.1,
            IC-2025.2,
            LATEST-EAP-SNAPSHOT
        ]
        include:

          - java-version: 17
            idea-version: IC-2023.1

          - java-version: 17
            idea-version: IC-2023.2

          - java-version: 17
            idea-version: IC-2023.3

          - java-version: 17
            idea-version: IC-2024.1

          - java-version: 21
            idea-version: IC-2024.2

          - java-version: 21
            idea-version: IC-2024.3

          - java-version: 21
            idea-version: IC-2025.1

          - java-version: 21
            idea-version: IC-2025.2

          - java-version: 21
            idea-version: LATEST-EAP-SNAPSHOT

    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      IDEA_VERSION: ${{ matrix.idea-version }}
    steps:
      - name: Source Code Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4.5.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'

      - name: Setup Gradle ${{ env.GRADLE_VERSION }}
        uses: gradle/actions/setup-gradle@v4.2.1
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Build
        run: gradle :assemble

      - name: Run Tests
        run: gradle check

      - name: Build Plugin
        run: gradle :buildPlugin

      - name: Upload Plugin Jar
        uses: actions/upload-artifact@v4.4.3
        with:
          name: xquery-intellij-plugin-${{ matrix.idea-version }}
          path: build/distributions/xquery-intellij-plugin-*.zip
